<div ng-include='"views/navbar.html"'></div>

<div class="container">
  <div class="row">
    <div class="col-md-8" center-text>
      <img class="img-responsive img-rounded" src="images/poster.png" alt="900x350">
    </div>

    <!-- /.col-md-8 -->
    <div class="col-md-4">
      <h1><p style="font-size:60px">UNIVERSAL ACCESS</h1>
      <style>
        h2 {
          color:#BAF8CB;
          font-family:verdana;
          font-size:30px;
        }
      </style>
      <h2><b><em>Road To Raising Awareness</em></b></h2>
      <p>Buraya sitenin amacina dair bir aciklama yapsak guzel olur gibim</p>
      <a class="btn btn-danger btn-lg" ui-sref="notify">Notify Violation!</a>
    </div>
    <!-- /.col-md-4 -->
  </div>
</div>


<div class="section-colored">

  <div class="container">

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h2>Violation Report 1</h2>
        <ul>
          <li>blablaballabla</li>
          <a class="btn btn-default" ui-sref="viewVio">More Info</a>
        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img class="img-responsive" src="http://placehold.it/700x450/ffffff/cccccc">
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

  <div class="container">

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img class="img-responsive" src="http://placehold.it/700x450">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h2>Violation Report 2</h2>
        <ul>
          <li>blablablablab</li>
          <a class="btn btn-default" ui-sref="viewVio">More Info</a>
        </ul>
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div>

<div class="section-colored">

  <div class="container">

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <h2>Violation Report 3</h2>
        <ul>
          <li>balbalbabla</li>
          <a class="btn btn-default" ui-sref="viewVio">More Info</a>
        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <img class="img-responsive" src="http://placehold.it/700x450/ffffff/cccccc">
      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

</div>


<!-- /.section -->

<!-- /.container -->
